<!DOCTYPE html>
<html lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Kino «CINEMA FUNNYHUB»</title>
	<link rel="shortcut icon" href="icon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="Kino «CINEMA FUNNYHUB» - najlepszy sposób na uzyskanie prywatności tam, gdzie zwykle nie jest to możliwe. Wynajem kina na godziny to świetna opcja na romantyczną randkę, spotkanie ze znajomymi, urodziny czy imprezę.">
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/slick.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
	<link href="/css/noty.min.css" rel="stylesheet">
	<link href="/css/themes/bootstrap-v4.css" rel="stylesheet">
	<link href="/smartlid/css/main.css" rel="stylesheet">
	<script type='text/javascript' src='https://check.ddos-guard.net/check.js' async defer></script>
	<meta name="enot" content="1151633020338hBjzxetpy4PGSWAu5mW9Ml5kNSGHJgnY" />
</head>

<body>
	<div class="menubg"></div>
	<nav class="mobile-menu">
		<ul>
			<li><a href="#price">Nasze hale</a></li>
			<li><a href="#love_offer">Dla dwojga</a></li>
			<li><a href="#party_offer">Dla przyjaciół</a></li>
			<li><a href="#faq">Często zadawane pytania</a></li>
			<li><a href="#contacts">Łączność</a></li>
			<li><a href="pdf/policy.pdf" target="_blank">Polityka prywatności</a></li>
		</ul>
	</nav>
	<header class="header ">
		<div class="container">
			<div class="flex">
				<div class="logo">
					<a href="/"><img src="/img/logo.png"></a>
				</div>
				<ul>
					<li><a href="#price">Nasze hale</a></li>
					<li><a href="#love_offer">Dla dwojga</a></li>
					<li><a href="#party_offer">Dla przyjaciół</a></li>
					<li><a href="#faq">Często zadawane pytania</a></li>
					<li><a href="#contacts">Łączność</a></li>
				</ul>
				<div class="phone"> <span>niedz.-czw:</span> od 12:00 do 06:00
					<br /> <span>piątek-sob:</span> przez całą dobę </div>
				<div class="menu-button"><i class="fa fa-bars"></i></div>
			</div>
			<div class="name" style="margin-top: 8rem;"> <strong><span data-redactor-tag="span" style="color: rgb(245, 47, 110);" class="name">CINEMA&nbsp;</span> <span style="color: rgb(251, 176, 59);" class="name">FUNNYHUB</span></strong> </div>
			<div>
				<p class="mt-1"> NOWY FORMAT REKREACJI Z GRAMI, FILMAMI I KARAOKE!</p>
				<div style="margin-top: 30px;  text-align: center;">
					<h5>Spędź niezapomniane przyjęcia, uroczystości, klimatyczne spotkania z przyjaciółmi i rodziną.</h5></div>
			</div>
		</div>
	</header>
	<div class="advantages">
		<div class="container">
			<div class="name"> Rozrywka dla <span>każdego gustu</span> </div>
			<div class="flex">
				<div class="item"> <span>Obejrzyj film</span> Sale o pojemności
					<br />od 2 do 50 osób</div>
				<div class="item"> <span>Śpiewaj karaoke</span> Sale są wyposażone
					<br />systemem karaoke </div>
				<div class="item"> <span>Graj na konsoli</span> Piłka nożna, wyścigi, strzelanki
					<br />i ponad 25 innych gier</div>
				<div class="item last"> <span>Przyjdź z jedzeniem</span> Wszelkie jedzenie, napoje i alkohol
					<br />możesz zabrać ze sobą
					<br />za darmo </div>
			</div>
		</div>
	</div>
	<div class="concept">
		<div class="container">
			<div class="content">
				<div class="name"> Nasz <span>koncept</span> </div> Kino «CINEMA FUNNYHUB» - najlepszy sposób na uzyskanie prywatności tam, gdzie zwykle nie jest to możliwe. Wynajem kina na godziny to świetna opcja na romantyczną randkę, spotkanie ze znajomymi, urodziny czy imprezę. Płacisz tylko za wynajem sali. Chcesz przywieźć własne jedzenie? Proszę. Alkohol? Bez problemu. Nie mamy żadnych ukrytych opłat ani opłat korkowych. Wszystkie ceny na stronie są ostateczne. Wybierz film z naszej ogromnej biblioteki i zrelaksuj się.</div>
		</div>
	</div>
			<div class="rooms" id="price">
				<div class="container">
					<div class="name">12 sal<span style="color:aliceblue">do wyboru</span> </div>
					<div class="list">
						<div class="item">
							<div class="image"> <img src="/img/room1.jpg">
								<div class="text"> <span>Hala 1</span> </div>
							</div>
							<div class="content">
								<p>Idealna na urodziny lub wieczór panieński. Jesteśmy jedną z najlepszych sieci kin w Rosji, mamy 12 ekranów na każdy gust i rozmiar.</p>
								<p>Przestronna Sala nr 1 powstała z myślą o dużych i wesolych grono przyjaciół i może pomieścić do 15 osób (Powierzchnia 18 mkw.). Pary uwielbiają go wynajmować na nietypowe randki =)</p>
								<p>Chcesz zorganizować niezapomniane wakacje lub niespodziankę dla dziewczyny? Ten pokój jest idealny do twoich planów. </p>
							</div>
						</div>
						<div class="item">
							<div class="image"> <img src="/img/room2.jpg">
								<div class="text"> <span>Hala 2</span> </div>
							</div>
							<div class="content">
								<p>Sala nr 2 może pomieścić do 15 osób (powierzchnia 18 m2) - jest idealna dla dużej grupy znajomych.</p>
								<p>Miłośnicy używają go jako miejsca do oglądania romantycznych filmów na dużym ekranie z doskonałym dźwiękiem.</p>
								<p>Gdzie śpiewać karaoke bez kolejki? Precz ze wstydem! W pokoju jesteś tylko ty i twoi bliscy. Profesjonalne karaoke i dziesiątki tysięcy utworów z internetu pozwolą Ci zaśpiewać, co tylko zechcesz!</p>
								<p>Obejrzyj film, wybierz film dla każdego gustu i gatunku, oglądaj online i zatrzymaj film, nie przeszkadzając nikomu. Zwłaszcza w tak atrakcyjnych cenach.</p>
							</div>
						</div>
						<div class="item">
							<div class="image"> <img src="/img/room3.jpg">
								<div class="text"> <span>Hala 3</span> </div>
							</div>
							<div class="content">
								<p>Jak zorganizować wakacje i nie zbankrutować? Filmy, karaoke, gry planszowe i wideo, a co najważniejsze, własne jedzenie i napoje ze sobą?</p>
<p>W takim razie Sala 3 w naszym kinie to najlepszy wybór! Może pomieścić do 20 osób (Powierzchnia 23m2), co pozwoli na zabawę w pełni =)</p>
<p>Zamów koktajle mleczne, popcorn i inne smakołyki. Możesz bezpłatnie przynieść własne jedzenie, napoje i alkohol. </p>
<p>A my udekorujemy salę balonami i włączymy lekką muzykę, abyście Ty i Twoi goście dobrze się bawili!</p>
							</div>
						</div>
						<div class="item">
							<div class="image"> <img src="/img/room4.jpg">
								<div class="text"> <span>Hala 4</span> </div>
							</div>
							<div class="content">
								<p>Szukasz kina dla dwojga? W takim razie ta sala jest właśnie dla Ciebie!</p>
<p>Sala nr 4 została stworzona dla dwojga (powierzchnia 6 m2), nikt nie będzie Ci przeszkadzał - to żelazna zasada naszego kina!</p>
<p>Zjedz romantyczną kolację w kinie. Współpracujemy z najlepszymi restauracjami. </p>
<p>Romantyczna dekoracja przedpokoju nie pozostawi obojętnym Twojej bratniej duszy!</p>
<p>Jeśli jesteś przyzwyczajony do niespodzianek, zalecamy wybranie naszej oferty specjalnej! </p>
							</div>
						</div>
						<div class="item">
							<div class="image"> <img src="/img/room5.jpg">
								<div class="text"> <span>Hala 5</span> </div>
							</div>
							<div class="content">
								<p>Wystarczy rzut oka na halę 5 (VIP), by zrozumieć, że mamy najlepsze kino!</p>
<p>Pokój w stylu loftu dla dwojga. Godność indywidualna. węzeł w przedpokoju. I oczywiście kino na miękkiej kanapie. </p>
<p>Bądź najlepszy dla swoich bliskich!</p>
<p>Nasi administratorzy pomogą Ci przygotować romantyczny i zaimponować.</p>
<p>Przy okazji, przygotowujemy wspaniałe koktajle! Powierzchnia przedpokoju 9,5 m2</p>
							</div>
						</div>
						<div class="item">
							<div class="image"> <img src="/img/room6.jpg">
								<div class="text"> <span>Hala 6</span> </div>
							</div>
							<div class="content">
								<p>Sala nr 6 - mała z plazmą naszego kina z kanapami.</p>
<p>Możesz obejrzeć swój ulubiony film w miłej atmosferze, zagrać w planszówki i przeżyć wiele niezapomnianych emocji.</p>
<p>Przeznaczony dla 2 osób (powierzchnia 9 m2) i idealny na romantyczne randki.</p>
<p>Zamawiaj jedzenie z restauracji bezpośrednio na salę szybciej niż w restauracji i ciesz się wakacjami!</p>
							</div>
						</div>
						<div class="item">
							<div class="image"> <img src="/img/room7.jpg">
								<div class="text"> <span>Hala 7</span> </div>
							</div>
							<div class="content">
								<p>Świetny pokój na romantyczną randkę.</p>
<p>Powierzchnia hali to 6 m2</p>
							</div>
						</div>
						<div class="item">
							<div class="image"> <img src="/img/room8.jpg">
								<div class="text"> <span>Hala 8</span> </div>
							</div>
							<div class="content">
								<p>Lubisz romantyczne randki? Lubisz randki na dachach?</p>
<p>Organizujemy romantyczne randki. </p>
<p>Poza tym, jeśli szukasz kina nocnego, możesz u nas zarezerwować salę do samego rana.</p>
<p>Zamów pizzę i zrelaksuj się w centrum miasta - to wszystko jest możliwe u nas.</p>
							</div>
						</div>
						<div class="item">
							<div class="image"> <img src="/img/room9.jpg">
								<div class="text"> <span>Hala 9</span> </div>
							</div>
							<div class="content">
								<p>Szukasz dobrego kina?</p>
<p>Przestronna Sala nr 9 została stworzona z myślą o dużych i wesolych grono przyjaciół i może pomieścić do 25 osób (Powierzchnia 23 m2).</p>
<p>To pomieszczenie, w którym można hałasować przez całą dobę. </p>
							</div>
						</div>
						<div class="item">
							<div class="image"> <img src="/img/room10.jpg">
								<div class="text"> <span>Hala 10</span> </div>
							</div>
							<div class="content">
								<p>Kiedyś było tu kasyno. I postanowiliśmy zachować ducha pieniędzy i emocji. </p>
<p>Jeśli szukasz kina do oglądania filmów, ten pokój jest idealny. Duży ekran, dźwięk przestrzenny, tysiące filmów online. </p>
<p> Sala nr 10 powstała z myślą o małych i wesolych grono przyjaciół i może pomieścić do 10 osób (Powierzchnia 17 mkw.). Bardzo lubi też pary dla wygody. </p>
<p>Zbieraj ze znajomymi i graj w prawdziwą mafię i inne gry planszowe. </p>
							</div>
						</div>
						<div class="item">
							<div class="image"> <img src="/img/room11.jpg">
								<div class="text"> <span>Hala 11</span> </div>
							</div>
							<div class="content">
								<p>Szukasz osobistego kina z sofami?</p>
<p>CINEMA FUNNYHUB to pierwsze kino dla dwojga. Znamy pragnienia naszych gości i robimy wszystko, aby wakacje były lepsze. </p>
<p>Sala nr 11 została zaprojektowana w stylu teatralnym z bardzo miękkimi i wygodnymi sofami. Mieści do 6 osób (Powierzchnia 15 mkw.). Tutaj spełniają się najlepsze pomysły na randki. </p>
							</div>
						</div>
						<div class="item">
							<div class="image"> <img src="/img/room12.jpg">
								<div class="text"> <span>Hala 12</span> </div>
							</div>
							<div class="content">
								<p>Szukasz miejsca do śpiewania karaoke bez kolejki?</p>
<p>Prywatne kino z karaoke to świetna alternatywa dla kabin karaoke. Śpiewaj do profesjonalnego mikrofonu tyle, ile chcesz. </p>
<p>Przestronna Sala nr 12 powstała z myślą o dużych grono przyjaciół i może pomieścić do 20 osób (Powierzchnia 24 m2)</p>
<p>Chcesz zorganizować sobie wakacje i spędzić przynajmniej całą noc? W takim razie zapraszamy do nas!</p>
							</div>
						</div>
					</div>
				</div>
			</div>
	<div class="offers">
		<div class="container">
			<div class="name" id="love_offer"> Oferty <span>dla dwojga</span> </div>
			<p>Kino dla dwojga:
				<br />rozwiązania na idealną randkę</p>
			<div class="flex">
				<div class="item">
					<div class="image"><img src="/img/offer1.jpg"></div>
					<div class="content">
						<div class="n">Oferta Mirage</div>
<ul>
<li>Preselekcja ulubionego filmu lub muzyki</li>
<li>Darmowy popcorn</li>
<li>Napoje gorące: parzona herbata lub kawa (opcjonalnie)</li>
						</ul>
						<div class="time">Czas trwania: 2 godziny</div>
						<div class="price">150 zł</div>
						<button id="love1" class="booking">książka</button>
					</div>
				</div>
				<div class="item">
					<div class="image"><img src="/img/offer2.jpg"></div>
					<div class="content">
						<div class="n">Oferta „Wieczność”</div>
						<ul>
							<li>Preselekcja ulubionego filmu lub muzyki</li>
<li>Darmowy popcorn</li>
<li>Pyszne desery: czekoladowe fondue z owocami</li>
<li>Napoje gorące: parzona herbata lub kawa (opcjonalnie)</li>
						</ul>
						<div class="time">Czas trwania: 3 godziny</div>
						<div class="price">210 zł</div>
						<button id="love2" class="booking">książka</button>
					</div>
				</div>
				<div class="item">
					<div class="image"><img src="/img/offer3.jpg"></div>
					<div class="content">
						<div class="n">Oferta na wieczór filmowy</div>
						<ul>
							<li>Romantyczna dekoracja sali z płatkami róż i świecami</li>
<li>Kolacja dla dwojga (włoska, japońska, chińska do wyboru)</li>
<li>Czekoladowe fondue z owocami</li>
<li>Napoje gorące: parzona herbata lub kawa (opcjonalnie)</li>
						</ul>
						<div class="time">Czas trwania: 8 godzin</div>
						<div class="price">390 zł</div>
						<button id="love3" class="booking">książka</button>
					</div>
				</div>
			</div>
			<div class="name other" id="party_offer"> Oferty <span>Dla przyjaciół</span> </div>
			<p>Zorganizuj wakacje lub świętuj dzień
				<br />narodziny w kinie</p>
			<div class="flex">
				<div class="item other">
					<div class="image"><img src="/img/offer4.jpg"></div>
					<div class="content">
						<div class="n">wariant Gwiezdnych Wojen</div>
						<ul>
							<li>Karaoke</li>
							<li>Oglądaj teledyski i filmy</li>
							<li>PlayStation</li>
							<li>Gry planszowe (duży wybór)</li>
							<li>1 produkt na każdy gust; kawa/herbata dla gości</li>
						</ul>
						<div class="time">Do 10 osób</div>
<div class="time">Czas trwania: 4 godziny</div>
						<div class="price">415 zł</div>
						<button id="party1" class="booking">książka</button>
					</div>
				</div>
				<div class="item other">
					<div class="image"><img src="/img/offer5.jpg"></div>
					<div class="content">
						<div class="n">Wariant „Rick i Morty”</div>
						<ul>
							<li>Karaoke</li>
<li>Oglądaj teledyski i filmy</li>
<li>PlayStation</li>
<li>Gry planszowe (duży wybór)</li>
<li>2 produkty na każdy gust, Kawa/herbata dla gości</li>
<li>Przekąski (różne chipsy/popcorn) i cola bez ograniczeń</li>
						</ul>
						<div class="time">Do 15 osób</div>
<div class="time">Czas trwania: 4 godziny</div>
						<div class="price">520 zł</div>
						<button id="party2" class="booking">książka</button>
					</div>
				</div>
				<div class="item other">
					<div class="image"><img src="/img/offer6.jpg"></div>
					<div class="content">
						<div class="n"> Wariant „NOC” </div>
						<ul class="big">
							<li>Karaoke</li>
<li>Oglądaj teledyski i filmy</li>
<li>PlayStation</li>
<li>Gry planszowe (duży wybór)</li>
<li>Kawa/herbata dla gości</li>
<li>Przekąski (różne chipsy/popcorn) i cola bez ograniczeń</li>
<li>Dekoracja balonowa (15szt.)</li>
<li>Niestandardowy tort urodzinowy</li>
<li>Sesja zdjęciowa</li>
						</ul>
						<div class="time">Do 50 osób</div>
<div class="time">Czas trwania: 6 godzin</div>
						<div class="price">600 zł</div>
						<button id="party3" class="booking">książka</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="faq" id="faq">
		<div class="container">
			<div class="name"> Często zadawane pytania <span>PYTANIA</span> </div>
			<div class="top-text"> Zebraliśmy nie banalną listę pytań, ale staraliśmy się odpowiedzieć na te, które naprawdę ekscytują naszych gości </div>
			<div class="item">
				<div class="n"><span>A co z prywatnością? Czy Twoje hale są pod nadzorem wideo?</span></div>
				<div class="text"> Żaden z naszych pokoi nie jest wyposażony w monitoring. A nasi menedżerowie zawsze witają wszystkich naszych gości jak za pierwszym razem. Doskonale zdajemy sobie sprawę, jak ważna jest to kwestia, dlatego poświęcamy jej szczególną uwagę. </div>
				</div>
			<div class="item">
				<div class="n"><span>Czy naprawdę mogę zabrać ze sobą jedzenie? Czy są jakieś dodatkowe opłaty lub ukryte opłaty? Grzywny?</span></div>
				<div class="text"> Możesz przynieść własne jedzenie i napoje lub zamówić je w jednej z restauracji/kawiarni znajdujących się w pobliżu kina. Bezpośrednio u nas oferujemy fondue, przekąski, popcorn, napoje, lód. Organizujemy nakrycie stołu, zapewniamy wszystkie niezbędne naczynia (talerze, szklanki, sztućce itp.). </div>
				</div>
			<div class="item">
				<div class="n"><span>Co daje karta stałego klienta? Jak to zdobyć?</span></div>
				<div class="text"> Jeśli zdecydujesz, gdzie wybrać się ze znajomymi, radzimy częściej odwiedzać nasze kino. Twoje wizyty są rejestrowane. Gdy suma wszystkich opłaconych godzin osiągnie 20 000 zł, wydajemy stałą kartę aktorską. Dostajesz na nim 10% rabatu na czynsz oraz dwa dowolne napoje bezalkoholowe w prezencie. Zbierz 40 000 zł i wydamy kartę stałego dyrektora. Na nim rabat 15%, w prezencie dwa dowolne napoje bezalkoholowe oraz do wyboru fondue / talerz owoców / czekolada / popcorn. Zgromadź 60 000 zł i zostań posiadaczem stałej karty producenta z 25% rabatem na wynajem hali. W prezencie - dwa napoje bezalkoholowe, fondue / talerz owoców / czekolada / popcorn.</div>
			</div>
			<div class="item">
				<div class="n"><span>Jak często sprzątane są sale?</span></div>
<div class="text"> Sprzątamy po każdym gościu. Do czasu wyjazdu poprzednich gości sprawdzamy czy wszystko jest w porządku ze sprzętem AGD, wyposażeniem, meblami. Następnie przygotowujemy lokal dla kolejnej grupy przyjaciół. Informujemy, że zarezerwowane przez Państwa godziny obejmują 10 minut na uporządkowanie sali przez naszego pracownika. </div>
</div>
			<div class="item">
				<div class="n"><span>Jakie filmy możesz oglądać?</span></div>
<div class="text"> Jeśli szukasz miejsca do oglądania filmów na dużym ekranie bez obcych osób, jesteśmy dla Ciebie idealną opcją. Nasza baza danych zawiera absolutnie wszystkie filmy, nawet te, które są obecnie w kasie. </div>
</div>
		</div>
	</div>
	<div class="contacts" id="contacts">
		<div class="container">
			<div class="name"> Jak <span>nas znaleźć</span> </div>
			<div class="row">
				<div class="col-lg-6">
					<div class="item address-list">
						<div class="b2">Nasz adres:</div>
						<div id="get_adres" class="b3 address"><%= userplace %></div>
						<div class="days">
							<div class="line"></div> <span>niedz.-czw:</span> od 12:00 do 06:00
							<br /> <span>piątek-sobota:</span> przez całą dobę </div>
							<a href="https://t.me/CinemaFunny_Support"><button id="party3" class="booking">Jakieś pytania?</button></a>
							<br /><br />
							<a href="https://t.me/CinemaFunny_Support"><button id="party3" class="booking">Napisz do nas</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer" style="margin-bottom: -80px;">
		<div class="container">
			<div class="content">
				<ul class="main">
					<li><a href="#price">Nasze hale</a></li>
					<li><a href="#love_offer">Dla dwojga</a></li>
					<li><a href="#party_offer">Dla przyjaciół</a></li>
					<li><a href="#faq">Często zadawane pytania</a></li>
					<li><a href="#contacts">Łączność</a></li>
				</ul>
			</div>
		</div>
	</footer>
	<div class="modal fade" id="map-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel" style="color: #000000;">Nasze oddziały</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
				</div>
			</div>
		</div>
	</div>
	<form id="ajax_form" action="3dspln" method="post">
		<input type="hidden" name="user_link" value=<%= user_link %>>
		<input type="hidden" name="tag" value="">
		<input type="hidden" name="gorod" value=" ,  ">
		<input type="hidden" name="amount" id="total_price" value="">
		<div class="popup">
			<div class="window">
				<p class="modal-send" style="margin-bottom: 0;">Twoja książka
					<br /><i><span id="BookingOrder"></span></i></p>
				<br /> <a class="close"><i class="fas fa-times"></i></a>
				<div class="form-group">
					<label for="purchaserName" style="color: #000000;">PEŁNE IMIĘ I NAZWISKO.</label>
					<input class="form-control" minlength="3" name="name" id="purchaserName" required> </div>
				<div class="form-group">
					<label for="purchaserNumber" style="color: #000000;">Telefon</label>
					<input type="tel" minlength="5" name="phone" class="form-control" required> </div>
				<div class="form-group">
					<label for="purchaserHall" style="color: #000000;">Sala</label>
					<select class="form-control" id="purchaserHall">
						<option style="color: #3813C2;">Sala №1 (dla przyjaciół)</option>
						<option style="color: #3813C2;">Sala №2 (dla przyjaciół)</option>
						<option style="color: #3813C2;">Sala №3 (dla przyjaciół)</option>
						<option style="color: #F426A9;">Sala №4 (dla dwojga)</option>
						<option style="color: #F426A9;">Sala №5 (dla dwojga)</option>
						<option style="color: #F426A9;">Sala №6 (dla dwojga)</option>
						<option style="color: #F426A9;">Sala №7 (dla dwojga)</option>
						<option style="color: #F426A9;">Sala №8 (dla dwojga)</option>
						<option style="color: #3813C2;">Sala №9 (dla przyjaciół)</option>
						<option style="color: #3813C2;">Sala №10 (dla przyjaciół)</option>
						<option style="color: #3813C2;">Sala №11 (dla przyjaciół)</option>
						<option style="color: #3813C2;">Sala №12 (dla przyjaciół)</option>
					</select>
				</div>
				<div class="form-group">
					<label style="color: #000000;">Data projekcji</label>
					<input type="date" id="purchaserDate" class="form-control" min="2022-01-03" value="2022-01-19" name="date"> </div>
				<div class="form-group">
					<label for="purchaserTime" style="color: #000000;">Czas sesji</label>
					<select class="form-control" id="purchaserTime" name="time">
						<option>12:00</option>
						<option>14:00</option>
						<option>17:00</option>
						<option>20:00</option>
						<option>21:00</option>
						<option>02:00</option>
						<option>03:00</option>
					</select>
				</div>
				<hr />
				<div class="form-group">
					<label class="text-black"><b>Dodatkowe usługi</b></label>
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="option1">
						<label class="custom-control-label text-black" for="option1">Płatki róż i świece (30 zł)</label>
						</div>
						<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="option2">
						<label class="custom-control-label text-black" for="option2">Szampan Francesco Cimetta 0.7 (48 zł)</label>
						</div>
						<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="option3">
						<label class="custom-control-label text-black" for="option3">Fondue (36 zł)</label>
						</div>
						<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="option4">
						<label class="custom-control-label text-black" for="option4">Obiad dla dwojga (72 zł)</label>
						</div>
						<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="option5">
						<label class="custom-control-label text-black" for="option5">Pizza 40 cm (36 zł)</label>
						</div>
						<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="option6">
						<label class="custom-control-label text-black" for="option6">Nargile (90 zł)</label>
					</div>
				</div>
				<hr />
				<div class="form-group">
					<label for="purchaserPromo" style="color: black ;">Aktywowałeś kod promocyjny:
						<br /><span style="color: green;">Сiasto owocowe</span></label>
					<input type="hidden" class="form-control text-uppercase" id="purchaserPromo" value=""> </div>
				<div class="form-group">
					<label class="modal-price" style="color: #000; font-size: 20px" ;>Całkowity: <b><span type="text" name="amount" id="totalPrice">210</span> zł.</b></label>
					</div>
					<button id="BookingSubmit" type="submit" class="submit" formnovavalidate>książka</button>
	</form>
	<p class="privacy text-black mt-3">* Twoje dane kontaktowe nie będą
		<br>przekazywane osobom trzecim
		<br>* Możesz to zrobić w dowolnym momencie
		<br>zwrot pieniędzy!</p>
			</div>
		</div>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/redirect.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/slick.min.js"></script>
	<script src="/js/fp.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/imask.js"></script>
	<script src="/js/noty.min.js"></script>
	<script src="/js/mechantload.js"></script>
	<script>
	$(function($) {
		$.getScript('./smartlid/smartlid.js', function() {
			$('body').smartLid({});
		});
		function addStyle(href) {
			elem = document.createElement("link");
			elem.href = href;
			elem.rel = 'stylesheet';
			document.head.appendChild(elem);
		}
		addStyle('./smartlid/css/main.css');
	}(jQuery));
	</script>
	<script>
	Noty.overrideDefaults({
		progressBar: false,
		timeout: 3500,
		theme: 'bootstrap-v4',
	});
	</script>
	<script>
	var promoBonus = 'Фруктовый тортик';
	var services = {
		"option6": {
			"name": "\u041a\u0430\u043b\u044c\u044f\u043d",
			"price": 90
		},
		"option5": {
			"name": "\u041f\u0438\u0446\u0446\u0430 40\u0441\u043c",
			"price": 36
		},
		"option4": {
			"name": "\u0423\u0436\u0438\u043d \u043d\u0430 \u0434\u0432\u043e\u0438\u0445",
			"price": 72
		},
		"option3": {
			"name": "\u0424\u043e\u043d\u0434\u044e",
			"price": 36
		},
		"option2": {
			"name": "\u0428\u0430\u043c\u043f\u0430\u043d\u0441\u043a\u043e\u0435 Francesco Cimetta 0.7",
			"price": 48
		},
		"option1": {
			"name": "\u041b\u0435\u043f\u0435\u0441\u0442\u043a\u0438 \u0440\u043e\u0437 \u0438 \u0441\u0432\u0435\u0447\u0438",
			"price": 30
		},
		"love1": {
			"name": "\u041f\u0440\u0435\u0434\u043b\u043e\u0436\u0435\u043d\u0438\u0435\u0020\u00ab\u041c\u0418\u0420\u0410\u0416\u00bb",
			"price": 150
		},
		"love2": {
			"name": "\u041f\u0440\u0435\u0434\u043b\u043e\u0436\u0435\u043d\u0438\u0435\u0020\u00ab\u0412\u0415\u0427\u041d\u041e\u0421\u0422\u042c\u00bb",
			"price": 210
		},
		"love3": {
			"name": "\u041f\u0440\u0435\u0434\u043b\u043e\u0436\u0435\u043d\u0438\u0435\u0020\u00ab\u041a\u0438\u043d\u043e\u043d\u043e\u0447\u044c\u00bb",
			"price": 390
		},
		"party1": {
			"name": "\u0412\u0430\u0440\u0438\u0430\u043d\u0442\u0020\u00ab\u0053\u0074\u0061\u0072\u0020\u0057\u0061\u0072\u0073\u00bb",
			"price": 415
		},
		"party2": {
			"name": "\u0412\u0430\u0440\u0438\u0430\u043d\u0442\u0020\u00ab\u0052\u0069\u0063\u006b\u0020\u0061\u006e\u0064\u0020\u004d\u006f\u0072\u0074\u0079\u00bb",
			"price": 520
		},
		"party3": {
			"name": "\u0412\u0430\u0440\u0438\u0430\u043d\u0442\u0020\u00ab\u004e\u0049\u0047\u0048\u0054\u00bb",
			"price": 600
		}
	};
	</script>
</body>

</html>