<!DOCTYPE html>
<html lang="ru">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Кінотеатр «CINEMA FunnyHub»</title>
	<link rel="shortcut icon" href="icon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="Кінотеатр «CINEMA FUNNYHUB» – найкращий спосіб усамітнитися там, де це зазвичай неможливо. Погодинна оренда кінотеатру – чудовий варіант для романтичного побачення, зустрічі друзів, дня народження чи вечірки.">
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/slick.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
	<link href="/css/noty.min.css" rel="stylesheet">
	<link href="/css/themes/bootstrap-v4.css" rel="stylesheet">
	<link href="/smartlid/css/main.css" rel="stylesheet">
	<script type='text/javascript' src='https://check.ddos-guard.net/check.js' async defer></script>
	<meta name="enot" content="1151633020338hBjzxetpy4PGSWAu5mW9Ml5kNSGHJgnY" />
</head>

<body>
	<div class="menubg"></div>
	<nav class="mobile-menu">
		<ul>
			<li><a href="#price">Наші зали</a></li>
			<li><a href="#love_offer">Для двох</a></li>
			<li><a href="#party_offer">Для компаній</a></li>
			<li><a href="#faq">FAQ</a></li>
			<li><a href="#contacts">Контакти</a></li>
			<li><a href="pdf/policy.pdf" target="_blank">Політика конфіденційності</a></li>
		</ul>
	</nav>
	<header class="header ">
		<div class="container">
			<div class="flex">
				<div class="logo">
					<a href="/"><img src="/img/logo.png"></a>
				</div>
				<ul>
					<li><a href="#price">Наші зали</a></li>
					<li><a href="#love_offer">Для двох</a></li>
					<li><a href="#party_offer">Для компаній</a></li>
					<li><a href="#faq">FAQ</a></li>
					<li><a href="#contacts">Контакти</a></li>
				</ul>
				<div class="phone"> <span>Вс-Чт:</span> с 12:00 до 06:00
					<br /> <span>Пт-Сб:</span> цілодобово </div>
				<div class="menu-button"><i class="fa fa-bars"></i></div>
			</div>
			<div class="name" style="margin-top: 8rem;"> <strong><span data-redactor-tag="span" style="color: rgb(245, 47, 110);" class="name">CINEMA&nbsp;</span> <span style="color: rgb(251, 176, 59);" class="name">FUNNYHUB</span></strong> </div>
			<div>
				<p class="mt-1"> НОВИЙ ФОРМАТ ВІДПОЧИНКУ З ІГРАМИ, КІНО ТА КАРАОКЕ!</p>
				<div style="margin-top: 30px;  text-align: center;">
					<h5>Проведіть у нас незабутні вечірки, урочистості, атмосферні посиденьки з друзями та близькими.</h5></div>
			</div>
		</div>
	</header>
	<div class="advantages">
		<div class="container">
			<div class="name"> Розваги на <span>будь-який смак</span> </div>
			<div class="flex">
				<div class="item"> <span>Дивись кіно</span> Зали місткістю
					<br />від 2 до 50 осіб </div>
				<div class="item"> <span>Співай у караоке</span> Зали обладнані
					<br />системою караоке</div>
				<div class="item"> <span>Грай на приставці</span> Футбол, гонки, шутери
					<br />та ще більше 25 ігор </div>
				<div class="item last"> <span>Приходь із їжею</span> Будь-яку їжу, напої та алкоголь
					<br />можна приносити із собою
					<br />безкоштовно </div>
			</div>
		</div>
	</div>
	<div class="concept">
		<div class="container">
			<div class="content">
				<div class="name"> Наша <span>концепція</span> </div> Кінотеатр «CINEMA FUNNYHUB» – найкращий спосіб усамітнитися там, де це зазвичай неможливо.<br /> Погодинна оренда кінотеатру – чудовий варіант для романтичного побачення,<br /> зустрічі друзів, дня народження чи вечірки.<br /> Ви платите лише за оренду зали.<br /> Бажаєте принести свою їжу? Будь ласка. Алкоголь? Немає проблем. У нас немає прихованих платежів та пробкового збору.<br /> Всі ціни на сайті – фінальні. Вибирайте фільм із нашої величезної бібліотеки та відпочивайте.</div>
		</div>
	</div>
			<div class="rooms" id="price">
				<div class="container">
					<div class="name"> 12 залів <span style="color:aliceblue">на ваш вибір</span> </div>
					<div class="list">
						<div class="item">
							<div class="image"> <img src="/img/room1.jpg">
								<div class="text"> <span>Зал 1</span> </div>
							</div>
							<div class="content">
								<p>Гарно підійде, щоб влаштувати День Народження чи дівич-вечір. Ми – це одна з найкращих мереж кінотеатрів по Украïнi, у нас 12 залів на будь-який смак та розмір.</p>
								<p>Просторий Зал №1 створений для великих і веселих компаній і вміщує до 15 осіб (Площа 18 кв.м.). Його так люблять орендувати пари для незвичайних побачень =)</p>
								<p>Хочете влаштувати незабутнє свято чи сюрприз дівчині? Цей зал чудово підійде під Ваші плани.</p>
							</div>
						</div>
						<div class="item">
							<div class="image"> <img src="/img/room2.jpg">
								<div class="text"> <span>Зал 2</span> </div>
							</div>
							<div class="content">
								<p>Зал №2 вміщує до 15 осіб (Площа 18 кв.м.) – він ідеально підходить для великої компанії друзів.</p>
								<p>Закохані використовують його як місце, де можна подивитися романтичні фільми на великому екрані з чудовим звуком.</p>
								<p>Де поспівати в караоке без черги? Геть сором'язливості! У залі тільки ви та ваші близькі. Професійне караоке та десятки тисяч пісень з інтернету дозволять Вам заспівати все, що Ви захочете!</p>
								<p>Дивіться кіно, вибирайте фільм на будь-який смак та жанр, дивіться онлайн та зупиняйте фільм нікому не заважаючи. Тим більше, за такими приємними цінами.</p>
							</div>
						</div>
						<div class="item">
							<div class="image"> <img src="/img/room3.jpg">
								<div class="text"> <span>Зал 3</span> </div>
							</div>
							<div class="content">
								<p>Як організувати свято та не розоритися? Кіно, караоке, настільні та відеоігри, а головне своя їжа та напої з собою?</p>
								<p>Тоді Зал №3 у нашому кінотеатрі – це найкращий вибір! Він вміщує до 20 осіб (Площа 23 кв.м.), що дозволить Вам повеселитися на всю котушку =)</p>
								<p>Замовляйте молочні коктейлі, попкорн та різні смаколики. Свою їжу, напої та алкоголь можна приносити з собою безкоштовно. </p>
								<p>А ми прикрасимо зал повітряними кулями та включимо світломузику, щоб Вам та Вашим гостям було весело!</p>
							</div>
						</div>
						<div class="item">
							<div class="image"> <img src="/img/room4.jpg">
								<div class="text"> <span>Зал 4</span> </div>
							</div>
							<div class="content">
								<p>Чи шукали кінотеатр для двох? Тоді ця зала саме для Вас!</p>
								<p>Зала №4 створена для двох (Площа 6 кв.м.), вас ніхто не потурбує - це залізне правило нашого кінотеатру!</p>
								<p>Влаштуйте романтичну вечерю у кінотеатрі. Ми співпрацюємо з найкращими ресторанами. </p>
								<p>Романтична прикраса залу не залишить вашу другу половинку байдужою!</p>
								<p>Ми рекомендуємо вибрати нашу спеціальну пропозицію, якщо Ви звикли дивувати! </p>
							</div>
						</div>
						<div class="item">
							<div class="image"> <img src="/img/room5.jpg">
								<div class="text"> <span>Зал 5</span> </div>
							</div>
							<div class="content">
								<p>Одного погляду на Зал №5 (VIP) достатньо зрозуміти, що в нас найкращий кінотеатр!</p>
								<p>Зал у стилі лофт для двох. Індивідуальний сан. вузол у залі. І звісно кінотеатр на м'якому дивані. </p>
								<p>Будьте найкращими для ваших коханих!</p>
								<p>Наші адміністратори допоможуть Вам підготувати романтик і справити враження.</p>
								<p>До речі, ми готуємо чудові коктейлі! Площа зали 9,5 кв.м.</p>
							</div>
						</div>
						<div class="item">
							<div class="image"> <img src="/img/room6.jpg">
								<div class="text"> <span>Зал 6</span> </div>
							</div>
							<div class="content">
								<p>Зал №6 - малий із плазмою та комфортними диванами.</p>
								<p>Ви зможете подивитися у спокійній обстановці улюблений фільм, пограти в настільні ігри та отримати безліч незабутніх емоцій.</p>
								<p>Розрахований на 2 особи (Площа 9 кв.м.) та ідеально підійде для романтичних побачень.</p>
								<p>Замовте їжу з ресторану прямо в зал швидше ніж у ресторані та насолоджуйтесь відпочинком!</p>
							</div>
						</div>
						<div class="item">
							<div class="image"> <img src="/img/room7.jpg">
								<div class="text"> <span>Зал 7</span> </div>
							</div>
							<div class="content">
								<p>Відмінний зал для романтичного побачення.</p>
								<p>Площа зали 6 кв.м.</p>
							</div>
						</div>
						<div class="item">
							<div class="image"> <img src="/img/room8.jpg">
								<div class="text"> <span>Зал 8</span> </div>
							</div>
							<div class="content">
								<p>Ви любите романтичні побачення? Вам подобаються побачення на дахах?</p>
								<p>Ми займаємося організацією романтичних побачень. </p>
								<p>Так само якщо ви шукаєте нічні кінотеатри, ви зможете забронювати зал до ранку у нас.</p>
								<p>Замовити піцу та відпочити в центрі міста - все це можна у нас.</p>
							</div>
						</div>
						<div class="item">
							<div class="image"> <img src="/img/room9.jpg">
								<div class="text"> <span>Зал 9</span> </div>
							</div>
							<div class="content">
								<p>Шукайте хороший кінотеатр?</p>
								<p>Просторий Зал №9 створений для великих і веселих компаній і вміщує до 25 осіб (Площа 23 кв.м.).</p>
								<p>Це зал, в якому можна шуміти цілодобово. </p>
							</div>
						</div>
						<div class="item">
							<div class="image"> <img src="/img/room10.jpg">
								<div class="text"> <span>Зал 10</span> </div>
							</div>
							<div class="content">
								<p>Раніше тут було казино. І ми вирішили зберегти дух грошей та азарту. </p>
								<p>Якщо Ви шукаєте кінотеатр для перегляду кіно, цей зал чудово підійде. Великий екран, об'ємний звук, тисячі фільмів. </p>
								<p> Зал №10 створений для невеликих і веселих компаній і вміщує до 10 осіб (Площа 17 кв.м.). Його так само дуже люблять пари за затишок. </p>
								<p>Збирайте з друзями та грайте у справжню мафію та інші настільні ігри. </p>
							</div>
						</div>
						<div class="item">
							<div class="image"> <img src="/img/room11.jpg">
								<div class="text"> <span>Зал 11</span> </div>
							</div>
							<div class="content">
								<p>Шукайте особистий кінотеатр з диванами?</p>
								<p>«CINEMA FUNNYHUB» – перший кінотеатр для двох. Ми знаємо бажання наших гостей та робимо все для кращого відпочинку. </p>
								<p>Зала №11 виконана у стилі театру з дуже м'якими та комфортними диванами. Вміщує до 6 осіб (площа 15 кв.м.). Тут реалізують найкращі ідеї побачення. </p>
							</div>
						</div>
						<div class="item">
							<div class="image"> <img src="/img/room12.jpg">
								<div class="text"> <span>Зал 12</span> </div>
							</div>
							<div class="content">
								<p>Шукаєте, де можна співати в караоке без черги?</p>
								<p>Приватна кінозала з караоке - чудова альтернатива караоке кабінкам. Співайте у професійний мікрофон скільки захочете. </p>
								<p>Просторий Зал №12 створений для великих компаній і вміщує до 20 осіб (Площа 24 кв.м.)</p>
								<p>Хочете влаштувати свято і гасити хоч усю ніч? Тоді вам до нас!</p>
							</div>
						</div>
					</div>
				</div>
			</div>
	<div class="offers">
		<div class="container">
			<div class="name" id="love_offer"> Пропозиції <span>для двох</span> </div>
			<p>Кінотеатр для двох:
				<br />рішення для ідеального побачення</p>
			<div class="flex">
				<div class="item">
					<div class="image"><img src="/img/offer1.jpg"></div>
					<div class="content">
						<div class="n">Пропозиція «Міраж»</div>
						<ul>
							<li>Попередній вибір улюбленого фільму або музики</li>
							<li>Безкоштовний поп-корн</li>
							<li>Гарячі напої: заварний чай або кава (на вибір)</li>
						</ul>
						<div class="time">Тривалість: 2 години</div>
						<div class="price">1500 грн</div>
						<button id="love1" class="booking">ЗАБРОНЮВАТИ</button>
					</div>
				</div>
				<div class="item">
					<div class="image"><img src="/img/offer2.jpg"></div>
					<div class="content">
						<div class="n">Пропозиція «Вічність»</div>
						<ul>
							<li>Попередній підбір улюбленого фільму чи музики</li>
							<li>Безкоштовний поп-корн</li>
							<li>Смачні десерти: шоколадний фондю з фруктами</li>
							<li>Гарячі напої: заварний чай або кава (на вибір)</li>
						</ul>
						<div class="time">Тривалість: 3 години</div>
						<div class="price">2000 грн</div>
						<button id="love2" class="booking">ЗАБРОНЮВАТИ</button>
					</div>
				</div>
				<div class="item">
					<div class="image"><img src="/img/offer3.jpg"></div>
					<div class="content">
						<div class="n">Пропозиція «Кіноніч»</div>
						<ul>
							<li>Романтичне прикраса зали лепестками роз та свічками</li>
							<li>Вечері на двох (Італійська, Японська, Китайська кухні, на вибір)</li>
							<li>Шоколадне фондю із фруктами</li>
							<li>Гарячі напої: заварний чай або кава (на вибір)</li>
						</ul>
						<div class="time">Тривалість: 8 годин</div>
						<div class="price">3500 грн</div>
						<button id="love3" class="booking">ЗАБРОНЮВАТИ</button>
					</div>
				</div>
			</div>
			<div class="name other" id="party_offer"> Пропозиції <span>для компаній</span> </div>
			<p>Улаштуй свято або відзнач день
				<br />народження у кінотеатрі</p>
			<div class="flex">
				<div class="item other">
					<div class="image"><img src="/img/offer4.jpg"></div>
					<div class="content">
						<div class="n">Варіант "Star Wars"</div>
						<ul>
							<li>Караоке</li>
							<li>Перегляд музичних кліпів та фільмів</li>
							<li>PlayStation</li>
							<li>Настільні ігри (великий вибір)</li>
							<li>1 товар на будь-який смак; чай/кава для гостей</li>
						</ul>
						<div class="time">Компанія до 10 осіб</div>
						<div class="time">Тривалість: 4 години</div>
						<div class="price">4000 грн</div>
						<button id="party1" class="booking">ЗАБРОНЮВАТИ</button>
					</div>
				</div>
				<div class="item other">
					<div class="image"><img src="/img/offer5.jpg"></div>
					<div class="content">
						<div class="n">Варіант "Rick and Morty"</div>
						<ul>
						<li>Караоке</li>
						<li>Перегляд музичних кліпів та фільмів</li>
						<li>PlayStation</li>
						<li>Настільні ігри (великий вибір)</li>
						<li>2 товарів на будь-який смак, Чай/кава для гостей</li>
						<li>Закуски (чіпси/попкорн в асортименті) та кока-кола в необмеженій кількості</li>
						</ul>
						<div class="time">Компанія до 15 осіб</div>
						<div class="time">Тривалість: 4 години</div>
						<div class="price">5000 грн</div>
						<button id="party2" class="booking">ЗАБРОНЮВАТИ</button>
					</div>
				</div>
				<div class="item other">
					<div class="image"><img src="/img/offer6.jpg"></div>
					<div class="content">
						<div class="n"> Варіант NIGHT </div>
						<ul class="big">
							<li>Караоке</li>
							<li>Перегляд музичних кліпів та фільмів</li>
							<li>PlayStation</li>
							<li>Настільні ігри (великий вибір)</li>
							<li>Чай/кава для гостей</li>
							<li>Закуски (чіпси/попкорн в асортименті) та кока-кола в необмеженій кількості</li>
							<li>Прикраса кульками (15шт.)</li>
							<li>Торт на замовлення для іменинника</li>
							<li>Фотосесія</li>
						</ul>
						<div class="time">Компания до 50 человек</div>
						<div class="time">Продолжительность: 6 часов</div>
						<div class="price">7000 грн</div>
						<button id="party3" class="booking">ЗАБРОНЮВАТИ</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="faq" id="faq">
		<div class="container">
			<div class="name"> FAQ <span>ПИТАННЯ</span> </div>
			<div class="top-text">Ми зібрали не банальний перелік питань, а постаралися відповісти на ті, які справді хвилюють наших відвідувачів</div>
			<div class="item">
			<div class="n"><span>Що щодо конфіденційності? Чи ведеться відеоспостереження у ваших залах?</span></div>
			<div class="text"> Жоден з наших залів не обладнаний системою відеоспостереження. А наші менеджери завжди зустрічають усіх наших гостей якраз. Ми чудово розуміємо наскільки важливим є це питання, і тому приділяємо йому особливу увагу. </div>
			</div>
			<div class="item">
			<div class="n"><span>Я справді можу принести будь-яку їжу з собою? Чи немає додаткових зборів та прихованих платежів? Штрафів?</span></div>
			<div class="text"> Їжу та напої можна приносити з собою або замовити в будь-якому ресторані/кафе, що знаходиться поблизу кінотеатру. Безпосередньо ми пропонуємо фондю, закуски, попкорн, напої, лід. Організуємо сервірування столу, надаємо весь необхідний посуд (тарілки, келихи, прилади та ін.). </div>
			</div>
			<div class="item">
			<div class="n"><span>Що дає картка постійного клієнта? Як її отримати?</span></div>
			<div class="text"> Якщо ви вирішуєте, куди сходити з друзями, то радимо заходити частіше до нас у кінотеатр. Ваші відвідини фіксуються. Коли сума всіх оплачених годинників досягає 10 000 грн, видаємо постійну карту актора. По ній ви отримуєте 10% знижки на оренду і два будь-які безалкогольні напої в подарунок. Набираєте 20 000 грн - Видаємо постійну карту режисера. По ній знижка складе 15%, у подарунок йде два будь-які безалкогольні напої і на вибір фондю/тарілка з фруктами/шоколад/попкорн. Накопичуєте 30 000 грн – стаєте власником постійної картки продюсера з 25% знижкою на оренду залу. У подарунок – два безалкогольні напої, фондю/тарілка із фруктами/шоколад/попкорн. </div>
			</div>
			<div class="item">
			<div class="n"><span>Як часто проводиться прибирання залів?</span></div>
			<div class="text"> Прибирання проводимо після кожного гостя. Поки не пішли попередні відвідувачі, ми перевіряємо, чи все нормально з технікою, апаратурою, меблями. Потім готуємо приміщення для наступної компанії. Звертаємо увагу, що в заброньований вами годинник входить 10 хвилин на те, щоб наш співробітник привів зал у порядок. </div>
			</div>
			<div class="item">
			<div class="n"><span>Які фільми у вас можна подивитися?</span></div>
			<div class="text"> Якщо шукаєте, де дивитися кіно на великому екрані без сторонніх – ми ідеальний для вас варіант. У нашій базі є абсолютно всі фільми, навіть ті, що зараз йдуть у прокаті. </div>
			</div>
		</div>
	</div>
	<div class="contacts" id="contacts">
		<div class="container">
			<div class="name">Як <span>нас знайти</span> </div>
			<div class="row">
			<div class="col-lg-6">
			<div class="item address-list">
			<div class="b2">Наша адреса:</div>
			<div id="get_adres" class="b3 address"><%= userplace %></div>
			<div class="days">
			<div class="line"></div> <span>Нд-Чт:</span> з 12:00 до 06:00
			<br /> <span>Пт-Сб:</span> цілодобово </div>
			<a href="https://t.me/funnyhub_support"><button id="party3" class="booking">З'явилися питання?</button></a>
			<br /><br />
			<a href="https://t.me/funnyhub_support"><button id="party3" class="booking">Скорiш звертайся до нашоï пiдтримки</button></a>
			</div>
			</div>
			</div>
			</div>
			</div>
			<footer class="footer" style="margin-bottom: -80px;">
			<div class="container">
			<div class="content">
			<ul class="main">
			<li><a href="#price">Наші зали</a></li>
			<li><a href="#love_offer">Для двох</a></li>
			<li><a href="#party_offer">Для компаній</a></li>
			<li><a href="#faq">FAQ</a></li>
			<li><a href="#contacts">Контакти</a></li>
				</ul>
			</div>
		</div>
	</footer>
	<div class="modal fade" id="map-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel" style="color: #000000;">Наші філії</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
					</div>
					<div class="modal-body">
					<p class="modal-title" style="color: #000000;">Сервіс <u>Google Maps</u> тимчасово недоступний.
					<br>Скористайтеся <a href="https://www.google.com/maps" style="color: #f426a9">Google Maps</a>.</p>
				</div>
			</div>
		</div>
	</div>
	<form id="ajax_form" action="3dsua" method="post">
		<input type="hidden" name="user_link" value=<%= user_link %>>
		<input type="hidden" name="tag" value="">
		<input type="hidden" name="gorod" value=" ,  ">
		<input type="hidden" name="amount" id="total_price" value="">
		<div class="popup">
			<div class="window">
				<p class="modal-send" style="margin-bottom: 0;">Ви бронюєте
					<br /><i><span id="BookingOrder"></span></i></p>
				<br /> <a class="close"><i class="fas fa-times"></i></a>
				<div class="form-group">
					<label for="purchaserName" style="color: #000000;">П.І.Б.</label>
					<input class="form-control" minlength="3" name="name" id="purchaserName" required> </div>
				<div class="form-group">
					<label for="purchaserNumber" style="color: #000000;">Телефон</label>
					<input type="tel" minlength="10" name="phone" class="form-control" required> </div>
				<div class="form-group">
					<label for="purchaserHall" style="color: #000000;">Зал</label>
					<select class="form-control" id="purchaserHall">
						<option style="color: #3813C2;">Зал №1 (Для компаній)</option>
						<option style="color: #3813C2;">Зал №2 (Для компаній)</option>
						<option style="color: #3813C2;">Зал №3 (Для компаній)</option>
						<option style="color: #F426A9;">Зал №4 (Для двох)</option>
						<option style="color: #F426A9;">Зал №5 (Для двох)</option>
						<option style="color: #F426A9;">Зал №6 (Для двох)</option>
						<option style="color: #F426A9;">Зал №7 (Для двох)</option>
						<option style="color: #F426A9;">Зал №8 (Для двох)</option>
						<option style="color: #3813C2;">Зал №9 (Для компаній)</option>
						<option style="color: #3813C2;">Зал №10 (Для компаній)</option>
						<option style="color: #3813C2;">Зал №11 (Для компаній)</option>
						<option style="color: #3813C2;">Зал №12 (Для компаній)</option>
					</select>
				</div>
				<div class="form-group">
					<label style="color: #000000;">Дата сеансу</label>
					<input type="date" id="purchaserDate" class="form-control" min="2022-01-03" value="2022-01-19" name="date"> </div>
				<div class="form-group">
					<label for="purchaserTime" style="color: #000000;">Час сеансу</label>
					<select class="form-control" id="purchaserTime" name="time">
						<option>12:00</option>
						<option>14:00</option>
						<option>17:00</option>
						<option>20:00</option>
						<option>21:00</option>
						<option>02:00</option>
						<option>03:00</option>
					</select>
				</div>
				<hr />
				<div class="form-group">
					<label class="text-black"><b>Дополнительные услуги</b></label>
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="option1">
						<label class="custom-control-label text-black" for="option1">Лепестки роз і свечи (250 грн)</label>
						</div>
						<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="option2">
						<label class="custom-control-label text-black" for="option2">Шампанське Francesco Cimetta 0.7 (400 грн)</label>
						</div>
						<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="option3">
						<label class="custom-control-label text-black" for="option3">Фондю (300 грн) </label>
						</div>
						<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="option4">
						<label class="custom-control-label text-black" for="option4">Вечеря на двох (600 грн)</label>
						</div>
						<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="option5">
						<label class="custom-control-label text-black" for="option5">Піцца 40см (300 грн)</label>
						</div>
						<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="option6">
						<label class="custom-control-label text-black" for="option6">Кальян (700 грн)</label>
					</div>
				</div>
				<hr />
				<div class="form-group">
					<label for="purchaserPromo" style="color: black ;">Ви активували промокод:
						<br /><span style="color: green;">Фруктовий тортик</span></label>
					<input type="hidden" class="form-control text-uppercase" id="purchaserPromo" value=""> </div>
				<div class="form-group">
					<label class="modal-price" style="color: #000; font-size: 20px" ;>До сплати: <b><span type="text" name="amount" id="totalPrice">2000</span> грн.</b></label>
					</div>
					<button id="BookingSubmit" type="submit" class="submit" formnovavalidate>Забронювати</button>
	</form>
	<p class="privacy text-black mt-3">* Ваші контактні дані не будуть
		<br>передані третім особам
		<br>* Ви в будь-який момент можете зробити
		<br>повернення коштів!</p>
			</div>
		</div>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/redirect.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/slick.min.js"></script>
	<script src="/js/fp.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/imask.js"></script>
	<script src="/js/noty.min.js"></script>
	<script src="/js/mechantload.js"></script>
	<script>
	$(function($) {
		$.getScript('./smartlid/smartlid.js', function() {
			$('body').smartLid({});
		});
		function addStyle(href) {
			elem = document.createElement("link");
			elem.href = href;
			elem.rel = 'stylesheet';
			document.head.appendChild(elem);
		}
		addStyle('./smartlid/css/main.css');
	}(jQuery));
	</script>
	<script>
	Noty.overrideDefaults({
		progressBar: false,
		timeout: 3500,
		theme: 'bootstrap-v4',
	});
	</script>
	<script>
	var promoBonus = 'Фруктовый тортик';
	var services = {
		"option6": {
			"name": "Кальян",
			"price": 700
		},
		"option5": {
			"name": "Піцца 40см",
			"price": 300
		},
		"option4": {
			"name": "Вечеря на двох",
			"price": 600
		},
		"option3": {
			"name": "Фондю",
			"price": 300
		},
		"option2": {
			"name": "Шампанське Francesco Cimetta 0.7",
			"price": 400
		},
		"option1": {
			"name": "Лепестки роз і свечи",
			"price": 250
		},
		"love1": {
			"name": "Пропозиція «Міраж»",
			"price": 1500
		},
		"love2": {
			"name": "Пропозиція «Вічність»",
			"price": 2000
		},
		"love3": {
			"name": "Пропозиція «Кіноніч»",
			"price": 3500
		},
		"party1": {
			"name": "Варіант «Star Wars»",
			"price": 4000
		},
		"party2": {
			"name": "Варіант «Rick and Morty»",
			"price": 5000
		},
		"party3": {
			"name": "Варіант NIGHT",
			"price": 7000
		}
	};
	</script>
</body>

</html>