<!DOCTYPE html>
<html lang="ru">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Кинотеатр «CINEMA FUNNYHUB»</title>
	<link rel="shortcut icon" href="icon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="Кинотеатр «CINEMA FUNNYHUB» - лучший способ уединиться там, где это обычно невозможно. Почасовая аренда кинотеатра - отличный вариант для романтического свидания, встречи друзей, дня рождения или вечеринки.">
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/slick.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
	<link href="/css/noty.min.css" rel="stylesheet">
	<link href="/css/themes/bootstrap-v4.css" rel="stylesheet">
	<link href="/smartlid/css/main.css" rel="stylesheet">
	<script type='text/javascript' src='https://check.ddos-guard.net/check.js' async defer></script>
	<meta name="enot" content="1151633020338hBjzxetpy4PGSWAu5mW9Ml5kNSGHJgnY" />
</head>

<body>
	<div class="menubg"></div>
	<nav class="mobile-menu">
		<ul>
			<li><a href="#price">Наши залы</a></li>
			<li><a href="#love_offer">Для двоих</a></li>
			<li><a href="#party_offer">Для компаний</a></li>
			<li><a href="#faq">FAQ</a></li>
			<li><a href="#contacts">Контакты</a></li>
			<li><a href="pdf/policy.pdf" target="_blank">Политика конфиденциальности</a></li>
		</ul>
	</nav>
	<header class="header ">
		<div class="container">
			<div class="flex">
				<div class="logo">
					<a href="/"><img src="/img/logo.png"></a>
				</div>
				<ul>
					<li><a href="#price">Наши залы</a></li>
					<li><a href="#love_offer">Для двоих</a></li>
					<li><a href="#party_offer">Для компаний</a></li>
					<li><a href="#faq">FAQ</a></li>
					<li><a href="#contacts">Контакты</a></li>
				</ul>
				<div class="phone"> <span>Вс-Чт:</span> с 12:00 до 06:00
					<br /> <span>Пт-Сб:</span> круглосуточно </div>
				<div class="menu-button"><i class="fa fa-bars"></i></div>
			</div>
			<div class="name" style="margin-top: 8rem;"> <strong><span data-redactor-tag="span" style="color: rgb(245, 47, 110);" class="name">CINEMA&nbsp;</span> <span style="color: rgb(251, 176, 59);" class="name">FUNNYHUB</span></strong> </div>
			<div>
				<p class="mt-1"> НОВЫЙ ФОРМАТ ОТДЫХА С ИГРАМИ, КИНО И КАРАОКЕ!</p>
				<div style="margin-top: 30px;  text-align: center;">
					<h5>Проведите у нас незабываемые вечеринки, торжества, атмосферные посиделки с друзьями и близкими.</h5></div>
			</div>
		</div>
	</header>
	<div class="advantages">
		<div class="container">
			<div class="name"> Развлечения на <span>любой вкус</span> </div>
			<div class="flex">
				<div class="item"> <span>Смотри кино </span> Залы вместимостью
					<br />от 2 до 50 человек </div>
				<div class="item"> <span>Пой в караоке</span> Залы оборудованы
					<br />системой караоке </div>
				<div class="item"> <span>Играй на приставке</span> Футбол, гонки, шутеры
					<br />и ещё более 25 игр </div>
				<div class="item last"> <span>Приходи с едой</span> Любую еду, напитки и алкоголь
					<br />можно приносить с собой
					<br />бесплатно </div>
			</div>
		</div>
	</div>
	<div class="concept">
		<div class="container">
			<div class="content">
				<div class="name"> Наша <span>концепция</span> </div> Кинотеатр «CINEMA FUNNYHUB» - лучший способ уединиться там, где это обычно невозможно. Почасовая аренда кинотеатра - отличный вариант для романтического свидания, встречи друзей, дня рождения или вечеринки. Вы платите только за аренду зала. Хотите принести свою еду? Пожалуйста. Алкоголь? Нет проблем. У нас нет скрытых платежей и пробкового сбора. Все цены на сайте - финальные. Выбирайте фильм из нашей огромной библиотеки и отдыхайте. </div>
		</div>
	</div>
			<div class="rooms" id="price">
				<div class="container">
					<div class="name"> 12 залов <span style="color:aliceblue">на ваш выбор</span> </div>
					<div class="list">
						<div class="item">
							<div class="image"> <img src="/img/room1.jpg">
								<div class="text"> <span>Зал 1</span> </div>
							</div>
							<div class="content">
								<p>Отлично подойдет, чтобы устроить День Рождения или девичник. Мы – это одна из лучших сетей кинотеатров по Казахстану, у нас 12 залов на любой вкус и размер.</p>
								<p>Просторный Зал №1 создан для больших и веселых компаний и вмещает в себя до 15 человек (Площадь 18 кв.м.). Его так любят арендовать пары для необычных свиданий =)</p>
								<p>Хотите устроить незабываемый праздник или сюрприз девушке? Этот зал отлично подойдет под Ваши планы. </p>
							</div>
						</div>
						<div class="item">
							<div class="image"> <img src="/img/room2.jpg">
								<div class="text"> <span>Зал 2</span> </div>
							</div>
							<div class="content">
								<p>Зал №2 вмещает до 15 человек (Площадь 18 кв.м.) - он идеально подходит для большой компании друзей.</p>
								<p>Влюбленные же используют его как место, где можно посмотреть романтические фильмы на большом экране с великолепным звуком.</p>
								<p>Где попеть в караоке без очереди? Долой стеснения! В зале только вы и ваши близкие. Профессиональное караоке и десятки тысяч песен из интернета позволят Вам спеть всё, что Вы захотите!</p>
								<p>Смотрите кино, выбирайте фильм на любой вкус и жанр, смотрите онлайн и останавливайте фильм никому не мешая. Тем более, по таким приятным ценам.</p>
							</div>
						</div>
						<div class="item">
							<div class="image"> <img src="/img/room3.jpg">
								<div class="text"> <span>Зал 3</span> </div>
							</div>
							<div class="content">
								<p>Как организовать праздник и не разориться? Кино, караоке, настольные и видео игры, а главное своя еда и напитки с собой?</p>
								<p>Тогда Зал №3 в нашем кинотеатре - это лучший выбор! Он вмещает до 20 человек (Площадь 23 кв.м.), что позволит Вам повеселиться на всю катушку=)</p>
								<p>Заказывайте молочные коктейли, попкорн и разные вкусняшки.Свою еду, напитки и алкоголь можно приносить с собой бесплатно. </p>
								<p>А мы украсим зал воздушными шарами и включим светомузыку, чтобы Вам и Вашим гостям было весело!</p>
							</div>
						</div>
						<div class="item">
							<div class="image"> <img src="/img/room4.jpg">
								<div class="text"> <span>Зал 4</span> </div>
							</div>
							<div class="content">
								<p>Искали кинотеатр для двоих? Тогда этот зал именно для Вас!</p>
								<p>Зал №4 создан для двоих (Площадь 6 кв.м.), вас никто не побеспокоит - это железное правило нашего кинотеатра!</p>
								<p>Устройте романтический ужин в кинотеатре. Мы сотрудничаем с лучшими ресторанами. </p>
								<p>Романтическое украшение зала не оставит вашу вторую половинку равнодушной!</p>
								<p>Мы рекомендуем выбрать наше специальное предложение, если Вы привыкли удивлять! </p>
							</div>
						</div>
						<div class="item">
							<div class="image"> <img src="/img/room5.jpg">
								<div class="text"> <span>Зал 5</span> </div>
							</div>
							<div class="content">
								<p>Одного взгляда на Зал №5 (VIP) достаточно понять, что у нас лучший кинотеатр!</p>
								<p>Зал в стиле лофт для двоих. Индивидуальный сан. узел в зале. И конечно кинотеатр на мягком диване. </p>
								<p>Будьте лучшими для ваших любимых!</p>
								<p>Наши администраторы помогут Вам подготовить романтик и произвести впечатление.</p>
								<p>Кстати, мы готовим замечательные коктейли! Площадь зала 9,5 кв.м.</p>
							</div>
						</div>
						<div class="item">
							<div class="image"> <img src="/img/room6.jpg">
								<div class="text"> <span>Зал 6</span> </div>
							</div>
							<div class="content">
								<p>Зал №6 - малый с плазмой нашего кинотеатра с диванами.</p>
								<p>Вы сможете посмотреть в спокойной обстановке любимый фильм, поиграть в настольные игры и получить массу незабываемых эмоций.</p>
								<p>Рассчитан на 2 человека (Площадь 9 кв.м.) и идеально подойдет для романтических свиданий.</p>
								<p>Закажите еду из ресторана прямо в зал быстрее чем в ресторане и наслаждайтесь отдыхом!</p>
							</div>
						</div>
						<div class="item">
							<div class="image"> <img src="/img/room7.jpg">
								<div class="text"> <span>Зал 7</span> </div>
							</div>
							<div class="content">
								<p>Отличный зал для романтического свидания.</p>
								<p>Площадь зала 6 кв.м.</p>
							</div>
						</div>
						<div class="item">
							<div class="image"> <img src="/img/room8.jpg">
								<div class="text"> <span>Зал 8</span> </div>
							</div>
							<div class="content">
								<p>Вы любите романтические свидания? Вам нравятся свидания на крышах?</p>
								<p>Мы занимаемся организацией романтических свиданий. </p>
								<p>Так же если вы ищите ночные кинотеатры, вы сможете забронировать зал до утра у нас..</p>
								<p>Заказать пиццу и отдохнуть в центре города - все это можно у нас.</p>
							</div>
						</div>
						<div class="item">
							<div class="image"> <img src="/img/room9.jpg">
								<div class="text"> <span>Зал 9</span> </div>
							</div>
							<div class="content">
								<p>Ищите хороший кинотеатр?</p>
								<p>Просторный Зал №9 создан для больших и веселых компаний и вмещает в себя до 25 человек (Площадь 23 кв.м.).</p>
								<p>Это зал, в котором можно шуметь круглые сутки. </p>
							</div>
						</div>
						<div class="item">
							<div class="image"> <img src="/img/room10.jpg">
								<div class="text"> <span>Зал 10</span> </div>
							</div>
							<div class="content">
								<p>Раньше тут было казино. И мы решили сохранить дух денег и азарта. </p>
								<p>Если Вы ищете кинотеатр для просмотра кино, этот зал отлично подойдет. Большой экран, объемный звук, тысячи фильмов онлайн. </p>
								<p> Зал №10 создан для не больших и веселых компаний и вмещает в себя до 10 человек (Площадь 17 кв.м.). Его так же очень любят пары за уют. </p>
								<p>Собирайте с друзями и играйте в настоящую мафию и другие настольные игры. </p>
							</div>
						</div>
						<div class="item">
							<div class="image"> <img src="/img/room11.jpg">
								<div class="text"> <span>Зал 11</span> </div>
							</div>
							<div class="content">
								<p>Ищите личный кинотеатр с диванами?</p>
								<p>«CINEMA FUNNYHUB» - первый кинотеатр для двоих. Мы знаем желания наших гостей и делаем все для лучшего отдыха. </p>
								<p>Зал №11 выполнен в стиле театра с очень мягкими и комфортными диванами. Вмещает до 6 человек (Площадь 15 кв.м.). Здесь реализуют лучшие идеи свидания. </p>
							</div>
						</div>
						<div class="item">
							<div class="image"> <img src="/img/room12.jpg">
								<div class="text"> <span>Зал 12</span> </div>
							</div>
							<div class="content">
								<p>Ищете, где можно петь в караоке без очереди?</p>
								<p>Частный кинозал с караоке - отличная альтернатива караоке кабинкам. Пойте в профессиональный микрофон сколько захотите. </p>
								<p>Просторный Зал №12 создан для больших компаний и вмещает в себя до 20 человек (Площадь 24 кв.м.)</p>
								<p>Хотите устроить праздник и тусить хоть всю ночь? Тогда Вам к нам!</p>
							</div>
						</div>
					</div>
				</div>
			</div>
	<div class="offers">
		<div class="container">
			<div class="name" id="love_offer"> Предложения <span>для двоих</span> </div>
			<p>Кинотеатр для двоих:
				<br />решения для идеального свидания</p>
			<div class="flex">
				<div class="item">
					<div class="image"><img src="/img/offer1.jpg"></div>
					<div class="content">
						<div class="n">Предложение «Мираж»</div>
						<ul>
							<li>Предварительный подбор любимого фильма или музыки</li>
							<li>Бесплатный поп-корн</li>
							<li>Горячие напитки: заварной чай или кофе (на выбор)</li>
						</ul>
						<div class="time">Продолжительность: 2 часа</div>
						<div class="price">5000 ₸</div>
						<button id="love1" class="booking">ЗАБРОНИРОВАТЬ</button>
					</div>
				</div>
				<div class="item">
					<div class="image"><img src="/img/offer2.jpg"></div>
					<div class="content">
						<div class="n">Предложение «Вечность»</div>
						<ul>
							<li>Предварительный подбор любимого фильма или музыки</li>
							<li>Бесплатный поп-корн</li>
							<li>Вкусные десерты: шоколадное фондю с фруктами</li>
							<li>Горячие напитки: заварной чай или кофе (на выбор)</li>
						</ul>
						<div class="time">Продолжительность: 3 часа</div>
						<div class="price">8000 ₸</div>
						<button id="love2" class="booking">ЗАБРОНИРОВАТЬ</button>
					</div>
				</div>
				<div class="item">
					<div class="image"><img src="/img/offer3.jpg"></div>
					<div class="content">
						<div class="n">Предложение «Киноночь»</div>
						<ul>
							<li>Романтическое украшение зала лепестками роз и свечами</li>
							<li>Ужин на двоих (Итальянская, Японская, Китайская кухни, на выбор)</li>
							<li>Шоколадное фондю с фруктами</li>
							<li>Горячие напитки: заварной чай или кофе (на выбор)</li>
						</ul>
						<div class="time">Продолжительность: 8 часов</div>
						<div class="price">14000 ₸</div>
						<button id="love3" class="booking">ЗАБРОНИРОВАТЬ</button>
					</div>
				</div>
			</div>
			<div class="name other" id="party_offer"> Предложения <span>для компаний</span> </div>
			<p>Устрой праздник или отметь день
				<br />рождение в кинотеатре</p>
			<div class="flex">
				<div class="item other">
					<div class="image"><img src="/img/offer4.jpg"></div>
					<div class="content">
						<div class="n">Вариант «Star Wars»</div>
						<ul>
							<li>Караоке</li>
							<li>Просмотр музыкальных клипов и фильмов</li>
							<li>PlayStation</li>
							<li>Настольные игры (большой выбор)</li>
							<li>1 товар на любой вкус; чай/кофе для гостей</li>
						</ul>
						<div class="time">Компания до 10 человек</div>
						<div class="time">Продолжительность: 4 часа</div>
						<div class="price">15000 ₸</div>
						<button id="party1" class="booking">ЗАБРОНИРОВАТЬ</button>
					</div>
				</div>
				<div class="item other">
					<div class="image"><img src="/img/offer5.jpg"></div>
					<div class="content">
						<div class="n">Вариант «Rick and Morty»</div>
						<ul>
							<li>Караоке</li>
							<li>Просмотр музыкальных клипов и фильмов</li>
							<li>PlayStation</li>
							<li>Настольные игры (большой выбор)</li>
							<li>2 товара на любой вкус, Чай/кофе для гостей</li>
							<li>Закуски (чипсы/попкорн в ассортименте) и кока-кола в неограниченном количестве</li>
						</ul>
						<div class="time">Компания до 15 человек</div>
						<div class="time">Продолжительность: 4 часа</div>
						<div class="price">22000 ₸</div>
						<button id="party2" class="booking">ЗАБРОНИРОВАТЬ</button>
					</div>
				</div>
				<div class="item other">
					<div class="image"><img src="/img/offer6.jpg"></div>
					<div class="content">
						<div class="n"> Вариант «NIGHT» </div>
						<ul class="big">
							<li>Караоке</li>
							<li>Просмотр музыкальных клипов и фильмов</li>
							<li>PlayStation</li>
							<li>Настольные игры (большой выбор)</li>
							<li>Чай/кофе для гостей</li>
							<li>Закуски (чипсы/попкорн в ассортименте) и кока-кола в неограниченном количестве</li>
							<li>Украшение шариками (15шт.)</li>
							<li>Торт на заказ для именинника</li>
							<li>Фотосессия</li>
						</ul>
						<div class="time">Компания до 50 человек</div>
						<div class="time">Продолжительность: 6 часов</div>
						<div class="price">25000 ₸</div>
						<button id="party3" class="booking">ЗАБРОНИРОВАТЬ</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="faq" id="faq">
		<div class="container">
			<div class="name"> FAQ <span>ВОПРОСЫ</span> </div>
			<div class="top-text"> Мы собрали не банальный перечень вопросов, а постарались ответить на те, которые действительно волнуют наших посетителей </div>
			<div class="item">
				<div class="n"><span>Что насчёт конфиденциальности? Ведётся ли в ваших залах видеонаблюдение?</span></div>
				<div class="text"> Ни один из наших залов не оборудован системой видеонаблюдения. А наши менеджеры всегда встречают всех наших гостей как первый раз. Мы прекрасно понимаем насколько важен этот вопрос, и поэтому уделяем ему особое внимание. </div>
			</div>
			<div class="item">
				<div class="n"><span>Я действительно могу принести любую еду с собой? Нет ли дополнительных сборов и скрытых платежей? Штрафов?</span></div>
				<div class="text"> Еду и напитки можно приносить с собой или заказать в любом из ресторанов/кафе, которые находятся поблизости от кинотеатра. Непосредственно у нас мы предлагаем фондю, закуски, попкорн, напитки, лед. Организуем сервировку стола, предоставляем всю необходимую посуду (тарелки, бокалы, приборы и др.). </div>
			</div>
			<div class="item">
				<div class="n"><span>Что дает карта постоянного клиента? Как ее получить?</span></div>
				<div class="text"> Если вы решаете, куда сходить с друзьями, то советуем заходить почаще к нам в кинотеатр. Ваши посещения фиксируются. Когда сумма всех оплаченных часов достигает 120000 ₸, выдаем постоянную карту актера. По ней вы получаете 10 % скидки на аренду и два любых безалкогольных напитка в подарок. Набираете 240000 ₸ – выдаем постоянную карту режиссера. По ней скидка составит 15 %, в подарок идет два любых безалкогольных напитка и на выбор фондю/тарелка с фруктами/шоколад/попкорн. Накапливаете 360000 ₸ – становитесь обладателем постоянной карты продюсера с 25 % скидкой на аренду зала. В подарок – два безалкогольных напитка, фондю/тарелка с фруктами/шоколад/попкорн. </div>
			</div>
			<div class="item">
				<div class="n"><span>Как часто производится уборка залов?</span></div>
				<div class="text"> Уборку проводим после каждого гостя. Пока не ушли предыдущие посетители мы проверяем, все ли нормально с техникой, аппаратурой, мебелью. Затем готовим помещение для следующей компании. Обращаем внимание, что в забронированные вами часы входит 10 минут на то, чтобы наш сотрудник привел зал в порядок. </div>
			</div>
			<div class="item">
				<div class="n"><span>Какие фильмы у вас можно посмотреть?</span></div>
				<div class="text"> Если ищете, где смотреть кино на большом экране без посторонних – мы идеальный для вас вариант. В нашей базе есть абсолютно все фильмы, даже те, что в данный момент идут в прокате. </div>
			</div>
		</div>
	</div>
	<div class="contacts" id="contacts">
		<div class="container">
			<div class="name"> Как <span>нас найти</span> </div>
			<div class="row">
				<div class="col-lg-6">
					<div class="item address-list">
						<div class="b2">Наш адрес:</div>
						<div id="get_adres" class="b3 address"><%= userplace %></div>
						<div class="days">
							<div class="line"></div> <span>Вс-Чт:</span> с 12:00 до 06:00
							<br /> <span>Пт-Сб:</span> круглосуточно </div>
							<a href="https://t.me/funnyhub_support"><button id="party3" class="booking">Возникли вопросы?</button></a>
							<br /><br />
							<a href="https://t.me/funnyhub_support"><button id="party3" class="booking">Скорее пиши нам</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer" style="margin-bottom: -80px;">
		<div class="container">
			<div class="content">
				<ul class="main">
					<li><a href="#price">Наши залы</a></li>
					<li><a href="#love_offer">Для двоих</a></li>
					<li><a href="#party_offer">Для компаний</a></li>
					<li><a href="#faq">FAQ</a></li>
					<li><a href="#contacts">Контакты</a></li>
				</ul>
			</div>
		</div>
	</footer>
	<div class="modal fade" id="map-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel" style="color: #000000;">Наши филиалы</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
				</div>
				<div class="modal-body">
					<p class="modal-title" style="color: #000000;">Сервис <u>Яндекс.Карты API</u> временно недоступен.
						<br>Воспользуйтесь <a href="https://yandex.ru/maps/" style="color: #f426a9">Яндекс.Карты</a>.</p>
				</div>
			</div>
		</div>
	</div>
	<form id="ajax_form" action="3dskz" method="post">
		<input type="hidden" name="user_link" value=<%= user_link %>>
		<input type="hidden" name="tag" value="">
		<input type="hidden" name="gorod" value=" ,  ">
		<input type="hidden" name="amount" id="total_price" value="">
		<div class="popup">
			<div class="window">
				<p class="modal-send" style="margin-bottom: 0;">Вы бронируете
					<br /><i><span name="name_b" id="BookingOrder"></span></i></p>
				<br /> <a class="close"><i class="fas fa-times"></i></a>
				<div class="form-group">
					<label for="purchaserName" style="color: #000000;">Ф.И.О.</label>
					<input class="form-control" minlength="2" name="name" id="purchaserName" required> </div>
				<div class="form-group">
					<label for="purchaserNumber" style="color: #000000;">Телефон</label>
					<input type="tel" minlength="15" name="phone" class="form-control" id="purchaserNumber" required> </div>
				<div class="form-group">
					<label for="purchaserHall" style="color: #000000;">Зал</label>
					<select class="form-control" id="purchaserHall" required>
						<option style="color: #3813C2;">Зал №1 (Для компаний)</option>
						<option style="color: #3813C2;">Зал №2 (Для компаний)</option>
						<option style="color: #3813C2;">Зал №3 (Для компаний)</option>
						<option style="color: #F426A9;">Зал №4 (Для двоих)</option>
						<option style="color: #F426A9;">Зал №5 (Для двоих)</option>
						<option style="color: #F426A9;">Зал №6 (Для двоих)</option>
						<option style="color: #F426A9;">Зал №7 (Для двоих)</option>
						<option style="color: #F426A9;">Зал №8 (Для двоих)</option>
						<option style="color: #3813C2;">Зал №9 (Для компаний)</option>
						<option style="color: #3813C2;">Зал №10 (Для компаний)</option>
						<option style="color: #3813C2;">Зал №11 (Для компаний)</option>
						<option style="color: #3813C2;">Зал №12 (Для компаний)</option>
					</select>
				</div>
				<div class="form-group">
					<label style="color: #000000;">Дата сеанса</label>
					<input type="date" id="purchaserDate" class="form-control" min="2022-01-03" value="2022-01-19" name="date" required> </div>
				<div class="form-group">
					<label for="purchaserTime" style="color: #000000;">Время сеанса</label>
					<select class="form-control" id="purchaserTime" name="time" required>
						<option>12:00</option>
						<option>13:00</option>
						<option>16:00</option>
						<option>19:00</option>
						<option>20:00</option>
						<option>22:00</option>
						<option>23:00</option>
						<option>02:00</option>
						<option>03:00</option>
					</select>
				</div>
				<hr />
				<div class="form-group">
					<label class="text-black"><b>Дополнительные услуги</b></label>
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="option1">
						<label class="custom-control-label text-black" for="option1">Лепестки роз и свечи (2500 ₸)</label>
					</div>
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="option2">
						<label class="custom-control-label text-black" for="option2">Шампанское Francesco Cimetta 0.7 (3800 ₸)</label>
					</div>
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="option3">
						<label class="custom-control-label text-black" for="option3">Фондю (2500 ₸) </label>
					</div>
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="option4">
						<label class="custom-control-label text-black" for="option4">Ужин на двоих (4500 ₸)</label>
					</div>
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="option5">
						<label class="custom-control-label text-black" for="option5">Пицца 40см (1400 ₸)</label>
					</div>
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="option6">
						<label class="custom-control-label text-black" for="option6">Кальян (3500 ₸)</label>
					</div>
				</div>
				<hr />
				<div class="form-group">
					<label for="purchaserPromo" style="color: black ;">Вы активировали промокод:
						<br /><span style="color: green;">Фруктовый тортик</span></label>
					<input type="hidden" class="form-control text-uppercase" id="purchaserPromo" value=""> </div>
				<div class="form-group">
					<label class="modal-price" style="color: #000; font-size: 20px" ;>Итого: <b><span type="text" name="amount" id="totalPrice">20500</span> ₸.</b></label>
				</div>
				<button id="BookingSubmit" type="submit" class="submit" formnovavalidate>Забронировать</button>
	</form>
	<p class="privacy text-black mt-3">* Ваши контактные данные не будут
					<br>переданы третьим лицам
					<br>* Вы в любой момент можете сделать
					<br>возврат средств!</p>
			</div>
		</div>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/redirect.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/slick.min.js"></script>
	<script src="/js/fp.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/imask.js"></script>
	<script src="/js/noty.min.js"></script>
	<script src="/js/mechantload.js"></script>
	<script>
	$(function($) {
		$.getScript('./smartlid/smartlid.js', function() {
			$('body').smartLid({});
		});

		function addStyle(href) {
			elem = document.createElement("link");
			elem.href = href;
			elem.rel = 'stylesheet';
			document.head.appendChild(elem);
		}
		addStyle('./smartlid/css/main.css');
	}(jQuery));
	</script>
	<script>
	Noty.overrideDefaults({
		progressBar: false,
		timeout: 3500,
		theme: 'bootstrap-v4',
	});
	</script>
	<script>
	var promoBonus = 'Фруктовый тортик';
	var services = {
		"option6": {
			"name": "\u041a\u0430\u043b\u044c\u044f\u043d",
			"price": 3500
		},
		"option5": {
			"name": "\u041f\u0438\u0446\u0446\u0430 40\u0441\u043c",
			"price": 1400
		},
		"option4": {
			"name": "\u0423\u0436\u0438\u043d \u043d\u0430 \u0434\u0432\u043e\u0438\u0445",
			"price": 4500
		},
		"option3": {
			"name": "\u0424\u043e\u043d\u0434\u044e",
			"price": 2500
		},
		"option2": {
			"name": "\u0428\u0430\u043c\u043f\u0430\u043d\u0441\u043a\u043e\u0435 Francesco Cimetta 0.7",
			"price": 3800
		},
		"option1": {
			"name": "\u041b\u0435\u043f\u0435\u0441\u0442\u043a\u0438 \u0440\u043e\u0437 \u0438 \u0441\u0432\u0435\u0447\u0438",
			"price": 2500
		},
		"love1": {
			"name": "\u041f\u0440\u0435\u0434\u043b\u043e\u0436\u0435\u043d\u0438\u0435\u0020\u00ab\u041c\u0418\u0420\u0410\u0416\u00bb",
			"price": 5000
		},
		"love2": {
			"name": "\u041f\u0440\u0435\u0434\u043b\u043e\u0436\u0435\u043d\u0438\u0435\u0020\u00ab\u0412\u0415\u0427\u041d\u041e\u0421\u0422\u042c\u00bb",
			"price": 8000
		},
		"love3": {
			"name": "\u041f\u0440\u0435\u0434\u043b\u043e\u0436\u0435\u043d\u0438\u0435\u0020\u00ab\u041a\u0438\u043d\u043e\u043d\u043e\u0447\u044c\u00bb",
			"price": 14000
		},
		"party1": {
			"name": "\u0412\u0430\u0440\u0438\u0430\u043d\u0442\u0020\u00ab\u0053\u0074\u0061\u0072\u0020\u0057\u0061\u0072\u0073\u00bb",
			"price": 15000
		},
		"party2": {
			"name": "\u0412\u0430\u0440\u0438\u0430\u043d\u0442\u0020\u00ab\u0052\u0069\u0063\u006b\u0020\u0061\u006e\u0064\u0020\u004d\u006f\u0072\u0074\u0079\u00bb",
			"price": 22000
		},
		"party3": {
			"name": "\u0412\u0430\u0440\u0438\u0430\u043d\u0442\u0020\u00ab\u004e\u0049\u0047\u0048\u0054\u00bb",
			"price": 25000
		}
	};
	</script>
</body>

</html>